extends ../layout/main

block variables
  - var title = 'Main page'
  - var pageClass = 'index-page'

block content
  #fullpage
    include index/about
    include index/contacts
    include index/presentation
